* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.block {
  margin: 50px auto;
  background-color: black;
  height: 6rem;
  width: 15rem;
  border-radius: 0.3rem;
}

#count_block {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: bolder;
  height: 4rem;
  text-align: center;
  margin: 0 2rem 0 2rem;
}

.btn_block {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn_block button {
  font-weight: bold;
  border-radius: 0.1rem;
  padding: 0.3rem;
  background-color: mintcream;
  border: none;
}

.navBar {
  display: flex;
  position: relative;
  padding: 0 2rem;
}
.link {
  display: flex;
  position: absolute;
  right: 2rem;
  bottom: 0;
  gap: 3rem;
}
